__pycache__
.vscode
*.so
build
*.egg-info
.flake8
setup.cfg
.pre-commit-config.yaml

stanford-corenlp*

segmentator

backbones
checkpoints
ScanRefer
data/scannetv2/train
data/scannetv2/val
data/features/train
data/features/val

exps